header {
    margin: 0;
    padding: 0;
    font-size: 94pt; 
    color: darkslategray;
    font-family: "Raleway", sans-serif;
    background-image: url('../images/background.jpg');
    text-align: center;
  }

  .nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    font-family: "Raleway", sans-serif;
    font-size: 45pt;
  }

  .highlighted a{
      text-decoration: underline dotted violet; 
      color: blueviolet;
  }

#skip a{
    position: absolute; 
    width: 1px;
    height: 1px;
    top: auto; 
    left: -10000px;
    overflow: hidden; 
}

#skip a:focus{
    position: static; 
    height: auto;
    width: auto;
}


.resume_images {
    display: flex;
    flex-direction: row;
    align-self: right;
    justify-content: space-around;
    flex-wrap: wrap;

}

.resume_images img {
    width: 200px;
    height: 200px;

}
/*
.resume{
    background-image: url("../images/resume.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/ 

.flip-card-front img {
    width: 200px;

}

.flip {
    float:left;
    margin-right:5px;
}

.biotext {
    line-height: 20px;
    margin-top: 200px;

}


.flip-card{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }



  .flip:hover .flip-card,
  .flip:focus-within .flip-card{
    transform: rotateY(180deg);
  }
f
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    color: black;
    transform: rotateY(180deg);
    white-space: nowrap;

  }

  /* citation for flip-card: https://www.w3schools.com/howto/howto_css_flip_card.asp */ 


.about h1{
    color: darkslategray;
    padding: 25px;
    font-size: 45pt;
  }

.about p{
    padding: 25px;
}

.bio h1{
    padding: 25px; 
    font-size: 45pt;

}

.biotext p {
    overflow:visible;

}

.resume h1{
    padding: 25px;
    font-size: 45pt;

}

.fun h1{
    padding: 25px;
    font-size: 45pt;

}

.fun p {
    padding: 25px;
}

.contact h1{
    padding: 25px;
    font-size: 45pt;

}
ß


.about p{
    padding: 25px;
}

.bio img{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
    padding: 5px;
    

}

.container{
    display: grid; 
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    padding: 25px;
    
}

.container img {
    border: 5px solid #555;
    width:  400px;
    height: 200px;
    object-fit: cover;
    filter: brightness(1.2);
}

.container img:hover {
    border-width: 20px;
    transform: scale(1.1);
}


.container img{
    width: 200px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightpink;
}

form {
    width: 300px;
    margin: 0 auto;

}

footer p{
    text-align: center;
}

.about h1{
    animation-name: appear_now; 
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  
 }

 .bio h1
 {
    animation-name: appear_now; 
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  
 }

 .resume h1
 {
    animation-name: appear_now; 
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  
 }

 .fun h1
 {
    animation-name: appear_now; 
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  
 }
 .contact h1
 {
    animation-name: appear_now; 
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  
 }
 
 
 
 
 @keyframes appear_now{
   from {color: pink;}
   to {color: blueviolet;}
 }

 @media screen and (min-width: 850px){

    header {
        margin: 0;
        padding: 0;
        font-size: 94pt; 
        color: darkslategray;
        font-family: "Raleway", sans-serif;
        background-image: url('../images/background.jpg');
        text-align: center;
      }
    
      .nav_links{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
        font-family: "Raleway", sans-serif;
        font-size: 45pt;
      }
    
      .highlighted a{
          text-decoration: underline dotted violet; 
          color: blueviolet;
      }
    
    #skip a{
        position: absolute; 
        width: 1px;
        height: 1px;
        top: auto; 
        left: -10000px;
        overflow: hidden; 
    }
    
    #skip a:focus{
        position: static; 
        height: auto;
        width: auto;
    }
    
    .resume_file {
        display: flex;
        justify-content: center;
    }
    
    .resume_images {
        display: flex;
        flex-direction: row;
        align-self: right;
        justify-content: space-around;
    
    }
    
    .resume_images img {
        width: 200px;
        height: 200px;
    
    }
    
    .resume{
        background-image: url("../images/resume.jpeg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .flip-card-front img {
        width: 200px;
    
    }
    
    .flip {
        float:left;
        margin-right:5px;
    }
    
    .biotext {
        line-height: 20px;
        margin-left: 250px;
    }
    
    
    .flip-card{
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
    
    
    
      .flip:hover .flip-card,
      .flip:focus-within .flip-card{
        transform: rotateY(180deg);
      }
    f
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
    
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      .flip-card-back {
        color: black;
        transform: rotateY(180deg);
        white-space: nowrap;
    
      }
    
      /* citation for flip-card: https://www.w3schools.com/howto/howto_css_flip_card.asp */ 
    
    
    .about h1{
        color: darkslategray;
        padding: 25px;
        font-size: 45pt;
      }
    
    .about p{
        padding: 25px;
    }
    
    .bio h1{
        padding: 25px; 
        font-size: 45pt;
    
    }
    
    .biotext p {
        overflow:visible;
    
    }
    
    .resume h1{
        padding: 25px;
        font-size: 45pt;
    
    }
    
    .fun h1{
        padding: 25px;
        font-size: 45pt;
    
    }
    
    .fun p {
        padding: 25px;
    }
    
    .contact h1{
        padding: 25px;
        font-size: 45pt;
    
    }
    ß
    
    
    .about p{
        padding: 25px;
    }
    
    .bio img{
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 200px;
        padding: 5px;
        
    
    }
    
    .container{
        display: grid; 
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-gap: 5px;
        padding: 25px;
        
    }
    
    .container img {
        border: 5px solid #555;
        width:  400px;
        height: 200px;
        object-fit: cover;
        filter: brightness(1.2);
    }
    
    .container img:hover {
        border-width: 20px;
        transform: scale(1.1);
    }
    
    
    .container img{
        width: 200px;
    }
    
    footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightpink;
    }
    
    form {
        width: 300px;
        margin: 0 auto;
    
    }
    
    footer p{
        text-align: center;
    }
    
    .about h1{
        animation-name: appear_now; 
        animation-duration: 10s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      
     }
    
     .bio h1
     {
        animation-name: appear_now; 
        animation-duration: 10s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      
     }
    
     .resume h1
     {
        animation-name: appear_now; 
        animation-duration: 10s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      
     }
    
     .fun h1
     {
        animation-name: appear_now; 
        animation-duration: 10s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      
     }
     .contact h1
     {
        animation-name: appear_now; 
        animation-duration: 10s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      
     }



 }




   
 
 @media prefers-reduced-motion {

    .about h1{
      animation-duration: 0s; 
  }
     .bio h1{
    animation-duration: 0s; 
  }
     .resume h1{
    animation-duration: 0s; 
  }
     .fun h1{
    animation-duration: 0s; 
  }
     .contact h1{
    animation-duration: 0s; 
  }
  }